.badge {
  display: inline-block;
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: 3px 8px;
  border: 1px solid;
  vertical-align: middle;
  margin-left: 8px;
}

.neutral {
  color: var(--color-grey-500);
  border-color: var(--color-grey-300);
}

.nextjs {
  color: var(--color-blue);
  border-color: var(--color-blue);
}

.universal {
  color: var(--color-green);
  border-color: var(--color-green);
}
